html,
body {
    margin: 0em;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 90%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('cwe-100.jpeg');
    width: 100%;
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-text {
    text-align: center;
    color: azure;
}

main{
    display: grid;
    grid-template-columns: minmax(min-content, 60%);
    align-content: center;
    justify-content: center;
    row-gap: .75em;
}

form{
    display: grid;
    grid-template-columns: minmax(min-content, 50%);
    align-content: center;
    justify-content: center;
    row-gap: 1.0em;
}

input{
    font-size: 0.9em;
    padding: 1.5em;
    border: 1px;
    border-style: solid;
    border-color: slategray;
}

input[type=submit] {
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .20em;
    color: azure;
    background-color: black;

}

label {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: -1.75em;
}

textarea {
    resize: none;
    font-size: 0.9em;
    padding: 1.5em;
    border: 1px;
    border-style: solid;
    border-color: slategray;
}

h1, h2 {
    text-align: center;
}

h1 {
    text-decoration: underline;
    text-transform: uppercase;
    padding: 10em, 0em;
}

h2 {
    padding-top: 25px;
}

p {
    white-space: pre-wrap;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

ul {
    list-style: none;
}

ul#error {
    color: red;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav  {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px 0 grey;
}

nav * {
    display: inline;
}

nav li {
    text-transform: uppercase;
    margin: 1.25em;
}

nav a {
    color: azure;
    text-decoration: none;
}

nav a:hover {
    background-color: #7B7D7D;
    text-decoration: none;
}

footer {
    padding-bottom: 80px;
}